<%- include('../partials/v_client_header') %>

<style>
    #room {
        display: none;
    }
</style>

    <h2>Welcome <%= data.username %></h2> 

    <% if (data.Rooms.length) { %>
        <h3>List Registered Room</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Room Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% data.Rooms.forEach(el => { %>
                    <tr>
                        <th><%= el.name %></th>
                        <th><a href="">Join</a></th>
                    </tr>
                <% }) %>
            </tbody>
        </table><br>
    <% } else { %>
        <h3>Registered Room Kosong, silahkan Register Room terlebih dahulu</h3>
    <% } %>
    
    <button onclick="show()">Register New Room</button><br><br>

    <% if (result.length) { %>
        <table id="room" border="1">
            <thead>
                <tr>
                    <th>Room Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(el => { %>
                    <% if (!el.Users.length) { %>
                        <tr>
                            <th><%= el.name %></th>
                            <th><a href="/client/<%= data.id %>/register/<%= el.id %>">Register</a></th>
                        </tr>
                    <% } %>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h3 id="room">Room Kosong, silahkan meminta Admin untuk membuat Room</h3>
    <% } %>

    <script>
        function show () {
            let x = document.getElementById('room');
    
            if (x.style.display == 'block') x.style.display = 'none';
            else x.style.display = 'block';
        }
    </script>

</body>
</html>