<%- include('../partials/v_client_header') %>
    <style>
        #hide {
            display: block;
        }
        #data {
            display: none;
        }
    </style>
    
    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><%= data.username %></th>
                <th><%= data.email %></th>
                <th>
                    <div id="hide">
                        <button onclick="show()">Show</button>
                    </div>
                    <div id="data">
                        <%= data.password %>
                    </div>
                </th>
            </tr>
        </tbody>
    </table><br>

    <a href="/client/edit/<%= data.id %>"><button>Edit</button></a>
    <a href="/client/delete/<%= data.id %>"><button>Delete</button></a>

    <script>
        function show () {
            let x = document.getElementById('hide');
            let y = document.getElementById('data');
    
            if (y.style.display == 'block') {
                y.style.display = 'none';
            } else {
                y.style.display = 'block';
            }
        }
    </script>
</body>
</html>